<div class="top">
  <div id="carousel-content" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-content" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-content" data-slide-to="1"></li>
      <li data-target="#carousel-content" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag('top1.png', class:"picture") %>
        <div class="carousel-caption">
          <h1 class="top__title">COOK MORIMORI</h1>
          <p>奥様の為の献立検討サイト</p>
          <button type="button" class="btn btn-primary">このサイトについて</button>
        </div>
      </div>
      <div class="item">
        <%= image_tag('top2.png', class:"picture") %>
        <div class="carousel-caption">
          <h1 class="top__title">COOK MORIMORI</h1>
          <p>おすすめ料理には旬の食材を利用したものが表示されます。</p>
          <button type="button" class="btn btn-primary">旬の食材一覧</button>
        </div>
      </div>
      <div class="item">
        <%= image_tag('top3.png', class:"picture") %>
        <div class="carousel-caption">
          <h1 class="top__title">COOK MORIMORI</h1>
            <p>さまざまなユーザーが投稿した料理の献立を見ることができます</p>
          <button type="button" class="btn btn-primary">ユーザー一覧</button>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-content" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel-content" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</div>
<div class="contents">
  <div class="contents__recommend">
    <p class="contents__recommend__title">本日のおすすめ料理</p>
    <p class="contents__recommend__text">本日は<%= @date %>です。<%= @month.name %>月の旬の食材を使用した料理を表示しています。</p>
    <p class="contents__recommend__reload"><%= link_to "おすすめ料理を更新する", '/', class:"contents__recommend__reload__btn btn btn-primary" %></p>
    <div class="contents__recommend__sub col-md-6 col-sm-6">
      <p class="contents__recommend__sub__title">副菜</p>
      <% @recommend_subfoods.each_with_index do |recommend_subfood, i| %>
        <%= render partial: "morimoris/shared/recommend", locals: { recommend: recommend_subfood, i: i } %>
      <% end %>
    </div>
    <div class="contents__recommend__main col-md-6 col-sm-6">
      <p class="contents__recommend__main__title">主菜</p>
      <% @recommend_mainfoods.each_with_index do |recommend_mainfood, i| %>
        <%= render partial: "morimoris/shared/recommend", locals: { recommend: recommend_mainfood, i: i  } %>
      <% end %>
    </div>
  </div>
  <div class="contents__foodstuff clearfix">
    <p class="contents__foodstuff__title">旬の食材情報</p>
    <p class="contents__foodstuff__text"><%= @month.name %>月の旬の食材をピックアップしています。</p>
    <div class="space col-sm-1 col-md-1">
    </div>
    <% @categorys.each do |category| %>
      <% foodstuffs = @vegetables if category.id == 1 %>
      <% foodstuffs = @fruits     if category.id == 2 %>
      <% foodstuffs = @fishes     if category.id == 3 %>
      <% foodstuffs = @seafoods   if category.id == 4 %>
      <% foodstuffs = @others     if category.id == 5 %>
      <div class="contents__foodstuff__category col-sm-2 col-md-2 clearfix">
        <%= image_tag("#{category.name}.png", class:"contents__foodstuff__category__image") %><p class="contents__foodstuff__category__name"><%= category.name %></p><br>
        <div class="contents__foodstuff__category__detail">
          <% Array(foodstuffs).each do |foodstuff| %>
            <%= link_to "#{foodstuff.name}", '/' %><br>
          <% end %>
          <%= link_to "旬の#{category.name}一覧", '/' %>   <%= link_to "#{category.name}一覧", '/' %>
        </div>
      </div>
    <% end %>
    <div class="space col-sm-1 col-md-1">
    </div>
  </div>
  <div class="contents__user clearfix">
    <p class="contents__user__title">おすすめ投稿者</p>
    <% @recommend_users.each do |user| %>
      <div class="contents__user__info col-sm-3 col-md-3">
        <div class="contents__user__info__main col-md-5 col-xs-5">
          <%= link_to '/' do %>
            <%= image_tag user.icon_image.url, class:"contents__user__info__main__image" %>
            <p><%= user.name %>さん</p>
          <% end %>
        </div>
        <div class="contents__user__info__detail col-md-6 col-xs-6">
          <p class="contents__user__info__count">料理投稿数: <%= user.morimoris_count %>件</p>
          <p class="contents__user__info__introduction"><%= user.introduction %></p>
          <% if user_signed_in? %>
            <% unless current_user.id == user.id %>
              <%= link_to "フォローする", '/', class:"btn btn-warning" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
