<div class="contents">
  <div class="top col-sm-12 col-md-12">
    <h1 class="top__title"><br>COOK<br>
      MORIMORI<br></h1>
  </div>
  <div class="center col-sm-9 col-md-9">
    <div class="center__box">
      <div class="search clearfix">
        <form class="search__form">
          <input type="text" placeholder="キーワード検索 （例：夏 豚肉）" class="search__form__keyword">
          <button type="button" class="img-circle search__form__btn btn-primary btn-sm btn-success" data-toggle="modal" data-target="#input">詳細検索</button>
        </form>
      </div>
      <div class="center__box__main clearfix">
        <div class="center__box__main__title">
          本日のおすすめ料理 <%= link_to "更新", '/', class:"btn" %>
        </div>
        <div class="center__box__main__sub col-sm-6 col-md-6">
          副菜
        <% @recommend_subfoods.each do |recommend_subfood| %>
          <div class="recommend__sub">
            <div class="recommend__sub__morimori">
              <%= link_to '/' do %>
                <div class="recommend__sub__morimori__name">
                  <%= recommend_subfood.name %>
                </div>
                <div class="recommend__sub__morimori__picture">
                  <%= image_tag recommend_subfood.image.url, class:"recommend__sub__morimori__picture__image" %>
                </div>
              <% end %>
            </div>
            <div class="recommend__sub__creater">
              投稿者<br>
              <%= link_to '/' do %>
                <%= image_tag recommend_subfood.user.icon_image.url, class:"recommend__sub__creater__image" %>
                <%= recommend_subfood.user.name %>さん
              <% end %>
              <%= recommend_subfood.user.introduction %>
              <%= link_to "フォローする", class: "recommend__sub__creater__follow" %>
            </div>
          </div>
        <% end %>
        </div>
        <div class="center__box__main__main col-sm-6 col-md-6">
          主菜
        <% @recommend_mainfoods.each do |recommend_mainfood| %>
          <div class="recommend__main">
            <div class="recommend__main__morimori">
              <%= link_to '/' do %>
                <div class="recommend__main__morimori__name">
                  <%= recommend_mainfood.name %>
                </div>
                <div class="recommend__main__morimori__picture">
                  <%= image_tag recommend_mainfood.image.url, class:"recommend__main__morimori__picture__image" %>
                </div>
              <% end %>
            </div>
            <div class="recommend__main__creater">
              投稿者<br>
              <%= link_to '/' do %>
                <%= image_tag recommend_mainfood.user.icon_image.url, class:"recommend__main__creater__image" %>
                <%= recommend_mainfood.user.name %>さん
              <% end %>
              <%= recommend_mainfood.user.introduction %>
              <%= link_to "フォローする", class: "recommend__main__creater__follow" %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="right col-sm-3 col-md-3">
    <div class="right__box">
      <p class="right__box__title">旬の食材情報</p>
      <p><%= @date %>、季節は<%= @season %>です。</p>
      <%= @month.name %>月の旬の食材</br>
      <% @categorys.each do |category| %>
        <div class="right__box__subtitle clearfix">
          <%= image_tag("#{category.name}.png", class:"right__box__subtitle__image") %><p class="right__box__subtitle__category"><%= category.name %></p>
        </div>
        <% foodstuffs = @vegetables if category.id == 1 %>
        <% foodstuffs = @fruits     if category.id == 2 %>
        <% foodstuffs = @fishes     if category.id == 3 %>
        <% foodstuffs = @seafoods   if category.id == 4 %>
        <% foodstuffs = @others     if category.id == 5 %>
        <div class="right__box__foodstuff">
          <% Array(foodstuffs).each do |foodstuff| %>
            <%= link_to "#{foodstuff.name}", '/' %>
          <% end %>
          <br><%= link_to "旬の#{category.name}一覧", '/' %>   <%= link_to "#{category.name}一覧", '/' %>
        </div>
      <% end %>
      </div>
      <div class="right__user">
        <p class="right__user__title">おすすめ投稿者</p>
        <% @recommend_users.each do |user| %>
          <div class="right__user__info">
            <%= link_to '/' do %>
              <div class="right__user__info__picture">
                <%= image_tag user.icon_image.url, class:"right__user__info__picture__image" %>
              </div>
              <div class="right__user__info__name">
                <p><%= user.name %>さん 投稿数:<%=user.morimoris_count %>件</p>
              </div>
            <% end %>
            <div class="right__user__info__introduction">
              <%= user.introduction %>
            </div>
            <%= link_to "フォローする", class: "right__user__info__follow" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="input" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">条件を指定して検索する</h4>
      </div>
    </div>
  </div>
</div>

