<div class="contents">
  <div class="top col-sm-12 col-md-12">
    <h1 class="top__title"><br>COOK<br>
      MORIMORI<br></h1>
  </div>
  <div class="left col-sm-3 col-md-3">
    <div class="left__box">
      <h4 class="left__title">他サイト様おすすめ料理</h4>
      <div class="left__box1">
        <a href="http://cookpad.com/?utm_source=link_banner&utm_medium=link_banner&utm_content=bnr200x40" target="_blank"><img src="http://cookpad.com/assets/widget/cookpad_banner_l.gif" alt="レシピ検索No.1 料理レシピ載せるなら クックパッド" width="200" height="40"></a>
      </div>
      <div class="left__box2">
      </div>
    </div>
  </div>
  <div class="center col-sm-6 col-md-6">
    <div class="center__box">
      <h4>本日のおすすめ料理</h4>
    </div>
  </div>
  <div class="right col-sm-3 col-md-3">
    <div class="right__box">
      <p class="right__box__title">旬の食材情報</p>
      <p><%= @date %>、季節は<%= @season %>です。</p>
      <%= @month.name %>月の旬の食材</br>
      <% @categorys.each do |category| %>
        <div class="right__box__subtitle clearfix">
          <%= image_tag("#{category.name}.png", class:"right__box__subtitle__image") %><p class="right__box__subtitle__category"><%= category.name %></p>
        </div>
        <% foodstuffs = @vegetables if category.id == 1 %>
        <% foodstuffs = @furits     if category.id == 2 %>
        <% foodstuffs = @fishes     if category.id == 3 %>
        <% foodstuffs = @seafoods   if category.id == 4 %>
        <% foodstuffs = @others     if category.id == 5 %>
        <div class="right__box__foodstuff">
          <% Array(foodstuffs).each do |foodstuff| %>
            <%= link_to "#{foodstuff.name}", '/' %></br>
          <% end %>
          <%= link_to "旬の#{category.name}一覧", '/' %>   <%= link_to "#{category.name}一覧", '/' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
