<div class="recommend  col-sm-6 col-md-6 ">

  <div class="recommend__morimori">
    <%= link_to '/' do %>
      <div class="recommend_morimori__title">
        <p class="recommend__morimori__title__name"><%= recommend.name %></p>
      </div>
    <% end %>

      <div class="recommend__morimori__picture">
        <%= image_tag recommend.image.url, class:"recommend__morimori__picture__image" %>
      </div>
        <div class="recommend__morimori__text clearfix">
          <p><%= recommend.text %></p>
        </div>
      <div class="recommend__morimori__usedfoodstuff">
        <p class="recommend__morimori__usedfoodstuff__title">利用した食材</p>
        <% if recommend.mainsub_id == 0 then %>
          <% @subfood_foodstuffs[i].each do |subfood_foodstuff| %>
            <%= subfood_foodstuff.name %><br>
          <% end %>
        <% elsif recommend.mainsub_id == 1 then %>
          <% @mainfood_foodstuffs[i].each do |mainfood_foodstuff| %>
            <%= mainfood_foodstuff.name %><br>
          <% end %>
        <% end %>
      </div>
    <div class="recommend__creater clearfix">
      <p class="recommend__creater__title">投稿者</p>
      <%= link_to '/' do %>
        <%= image_tag recommend.user.icon_image.url, class:"recommend__creater__image" %>
        <%= recommend.user.name %>さん
      <% end %>
      <% if user_signed_in? %>
        <% unless current_user.id == recommend.user.id %>
          <%= link_to "フォローする", '/', class:"btn btn-warning" %>
        <% else %>
          <%= link_to "あなたです", '/', class:"btn btn-warning", disabled:true %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
